* {
    btn-clr: rgb(76, 80, 82);
    border-clr: rgb(85, 90, 92);
    text-clr: rgb(215, 215, 215);
}

.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI";
    -fx-text-background-color: text-clr;

    -fx-base: #696866;
    -fx-background: #3C3F41FF;

    /* Removes blue highlight glow on component click */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.top-pane {
    -fx-border-color: border-clr;
    -fx-border-insets: 3 3 3 3;
    /*-fx-border-radius: 5 5 5 5; */
}

.split-pane-divider {
    -fx-padding: 0;
    -fx-border-color: border-clr;
    -fx-border-insets:  0 0 0 0 ;
    /*-fx-background-color: "red";*/
}
/*
.split-pane-divider #horizontal-grabber {
    -fx-padding: 100;
}
*/


.top-button {
    -fx-background-color: btn-clr;
}

.button:hover{
    -fx-background-color: derive(btn-clr, 25%);
}
.button:pressed{
    -fx-background-color: derive(btn-clr, 30%);
}



.import-component {
    -fx-border-color: border-clr;
    /*-fx-border-insets: 5 5 5 5;*/
    -fx-border-radius: 5 5 5 5;
}
.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: btn-clr;
    -fx-text-fill: rgb(176, 176, 178);
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: rgb(66, 70, 72);
    -fx-text-fill: white;
}


/* Not used */
.icon-button-run {
    -fx-content-display: graphic-only;
    -fx-shape: "M4,2L14,8L4,14Z";
    -fx-background-color: rgb(89,168,105);
}
/* Not used */
.icon-button-import {
    -fx-content-display: graphic-only;
    -fx-shape: "M2,3L5.5,3L7,5L9,5L9,9L13,9L13,5L14,5L14,13L2,13Z M12,4L12,8L10,8L10,4L8,4L11,1L14,4L12,4Z";
    -fx-background-color: rgb(110,110,110);
    /*
    -fx-shape: "M12,4L12,8L10,8L10,4L8,4L11,1L14,4L12,4Z";
    -fx-background-color: rgb(56,159,214);
    */
}



.left-menu-parent-component {
    -fx-background-radius: 8 8 8 8;

    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: black;
}