* {
    btn-clr: rgb(76, 80, 82);
    border-clr: rgb(90, 90, 90);
    text-clr: rgb(215, 215, 215);

    fx-base: #696866;
    fx-bg: #3C3F41FF;
}
.root{
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI";
    -fx-text-background-color: text-clr;

    -fx-base: fx-base;
    -fx-background: fx-bg;

    /* Removes blue highlight glow on component click */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}



.top-pane {
    -fx-border-color: border-clr;
    -fx-border-insets: 3 3 3 3;
}
.middle-pane {
    -fx-background-color: derive(fx-bg, -10%);
    -fx-border-color: border-clr;

    -fx-border-insets: 0 0 3 3;
    -fx-background-insets: 3 3 4 3;
}
.right-pane {
    -fx-border-color: border-clr;
    -fx-border-insets: 0 3 3 4;
}
.bottom-pane {
    -fx-border-color: border-clr;
    -fx-border-insets: 3 3 3 3;
}
.graph-pane {
   -fx-background-color: derive(fx-bg, -10%);
}


/* TOP BUTTONS */
.top-button {
    -fx-background-color: btn-clr;
}

.button:hover{
    -fx-background-color: derive(btn-clr, 25%);
}
.button:pressed{
    -fx-background-color: derive(btn-clr, 30%);
}



.split-pane-divider {
    -fx-padding: 0,5;
    -fx-border-color: border-clr;
    -fx-border-insets:  0 0 0 0 ;
    -fx-background-color: border-clr;
}
/*
.split-pane-divider #horizontal-grabber {
    -fx-padding: 100;
}
*/


/* LEFT MENU TABS */
/* Removes spacing around tabs */
.left-tab-pane {
     /*         top     left */
    -fx-padding: -7 0 0 -7;
    -fx-background-color: fx-bg;
}
.tab-header-area .tab-header-background {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}
.tab-content-component { /* Tab content */
    -fx-background-color: derive(fx-bg, 10%);
    -fx-background-insets: 0 0 0 0;

    -fx-border-color: transparent;
    -fx-border-style: none;
/*
    -fx-border-style: solid;
    -fx-border-insets:  8 0 0 0 ;
    */
}
.tab { /* Tab itself */
    -fx-background-color: derive(fx-bg, 5%); /* tab color */

    /* custom border styles for tabs based on edges simply won't work */
    -fx-border-style: none;
    -fx-border-color: transparent;

}
.tab:selected {
    -fx-background-color: derive(fx-bg, 10%);
    -fx-text-base-color: white; /* TODO not working */
}
.tab:hover {
    -fx-text-base-color: text-clr; /* disable tabs coloring to back when hovered */
}


/* BOTTOM MENU TABS */
.bottom-tab-pane {
     /*         top     left */
    -fx-background-color: fx-bg;
    -fx-border-color: border-clr;
    -fx-border-insets:  3;
}



.import-component {
    -fx-border-color: border-clr;
    /*-fx-border-insets: 5 5 5 5;*/
    -fx-border-radius: 5 5 5 5;
}
.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: btn-clr;
    -fx-text-fill: rgb(176, 176, 178);
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: rgb(66, 70, 72);
    -fx-text-fill: white;
}


/* Not used */
.icon-button-run {
    -fx-content-display: graphic-only;
    -fx-shape: "M4,2L14,8L4,14Z";
    -fx-background-color: rgb(89,168,105);
}
/* Not used */
.icon-button-import {
    -fx-content-display: graphic-only;
    -fx-shape: "M2,3L5.5,3L7,5L9,5L9,9L13,9L13,5L14,5L14,13L2,13Z M12,4L12,8L10,8L10,4L8,4L11,1L14,4L12,4Z";
    -fx-background-color: rgb(110,110,110);
    /*
    -fx-shape: "M12,4L12,8L10,8L10,4L8,4L11,1L14,4L12,4Z";
    -fx-background-color: rgb(56,159,214);
    */
}



.left-menu-parent-component {
    -fx-background-radius: 8 8 8 8;

    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: black;
}



.context-menu {
    -fx-background-radius: 8 8 8 8;
    -fx-background-color: gray;
    -fx-padding: 2;
}
.menu-item {
     -fx-background-radius: 8 8 8 8;
}


/* scroll bars thanks to https://stackoverflow.com/questions/48048943/javafx-8-scroll-bar-css/48050208 */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: fx-bg; /* scroll bar bg color */
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .track:hover,
.scroll-bar:vertical .track:hover{
    -fx-background-color: derive(fx-bg, 8%);
}
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;

    -fx-padding: 0.0 0.0 10.0 0.0; /* height of horizontal scrollbar */
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;

    -fx-padding: 0.0 10.0 0.0 0.0; /* width of horizontal scrollbar */
}
 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0; /* height of vertical scrollbar */
    -fx-background-color: fx-bg;
}
 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em; /* width of horizontal scrollbar */
    -fx-background-color: fx-bg;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(border-clr, 10%); /* scroll bar color */
    -fx-background-insets: 2.0, 0.0, 0.0;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(border-clr, 20%); /* scroll bar hover color */
}
.scroll-pane > .corner {
    -fx-background-color: fx-bg; /* corner box */
}



/* table */



















